# Assignment_01_answers(Visnu)

In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+
6 


Answer for 1:
    
* ---> expression(multiplication operator)

'hello' --->value(string)

-87.8  --->value( negative float number)

-     --->expression(subtraction operator)

/    --->expression(Division operator)

+   --->expression(addition operator)

6  ---->value(positive integer)

In [ ]:

2. What is the difference between string and variable?

Answer for 2:
    
        String is group of characters enclosed within quotes.
        String is a data type in python
        Eg:
        "Machine learning", "1.2", "34"
        
        
        Variable is a container to store any values
        Variable can store values of any data type like int, float, str, list, set., etc.
        A variable can be of str type
        
        Eg:
        
        name="visnu"
        age=23
        salary=15322.44
        
        In above name, age, salary are variables

In [ ]:
3. Describe three different data types.

Ans:
    The three basic data types of python are 
    1) int - contains positive or negative whole numbers. They do not have any fractional part
        eg: 10, 20, 0, -1 -34., etc
    2) float- Contains positive or negative numbers with whole part and fractional part
        eg: 3.14, 54.23, -5433.22 .,etc
            
    3) str- Contains a single or group of characters enclosed within quotes
        eg: "Data science", "3.14", '100'

In [ ]:
4. What is an expression made up of? What do all expressions do?

Ans:
    
    An expression is made of variables or constants or operators which represents a value. Expression performs operations on variables or constants or operators and yield values as output.
    
    Eg: 
        
    a=10
    b=a-8
    c=a**2

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Difference
    1)An expression evaluates something and returns a value. But a statement executes something.
    2)An expression must return a value.But statement may or may not return a value.
    3)All Statements can be an expression, But all expressions cannot be a statement.

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1


Ans:
    Even after executing the bacon contains 22. since we are not reassigning the incrementation to bacon variable, the bacon value still remains as 22.

In [ ]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3


Ans:
    
    the values of the both terms are same: spamspamspam

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?

Ans:
    A variable name can start with a alphabetic character or even underscore but not with an integer. That is why 100 is invalid.
    
    Eg: 
    name --> valid
    _age --> valid
    100 --> invalid

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string version of a value?


int()--> to get a integer value

Eg: age=int(input("Enter your age: "))

float()--> to get a float value

Eg: salary=float(input("Enter your salary: "))

str()-->to get string version of a value

print("I am " +str(age) + " years old.")

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Ans: 
    the below expression causes error. because we cannot concatenate an integer with a string data type.
    
    Sol: to solve this error we need to enclose 99 with quotes or use str(99). like below
        
    'I have eaten ' + '99' + ' burritos.'    
    
    or
    'I have eaten ' + str(99) + ' burritos.'